[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hwep"]
	path = hwep
	url = https://github.com/dcgerard/hwep
[submodule "ldsep"]
	path = ldsep
	url = https://github.com/dcgerard/ldsep
[submodule "seqgendiff"]
	path = seqgendiff
	url = https://github.com/dcgerard/seqgendiff
[submodule "tensr"]
	path = tensr
	url = https://github.com/dcgerard/tensr
[submodule "updog"]
	path = updog
	url = https://github.com/dcgerard/updog
